{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <title>Informasi Sesi Eksperimen</title>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Informasi Sesi Eksperimen</h1>
            <p>
                Anda telah melakukan seluruh rangkaian eksperimen. Anda akan mendapatkan pambayaran yang dimana
                pembayaran tersebut diambil dari salah satu sesi investasi. Pembayaran akan diberikan kepada Anda
                tergantung besaran jumlah yang Anda dapatkan pada sesi investasi tersebut. Berikut di bawah ini
                hasil sesi investasi yang telah Anda lakukan dan profit/keuntungan yang telah Anda dapatkan:
            </p>
            <div class="card mb-3">
                <div class="card-header">
                    <h4 class="m-0">Risky Investment Purchase</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sesi Ronde</th>
                                <th>Profit/Keuntungan</th>
                                <th>Biaya Beli Opsi</th>
                                <th>Bantuan</th>
                                <th>Beban Konsumsi</th>
                                <th>Sisa Uang Akhir Ronde</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in risky_purchase %}
                                <tr>
                                    <td>Ronde {% row.round_number_risky_purchase %}</td>
                                    <td class="fw-bold">
                                        {% if row.profit_risky_purchase != 0 %}
                                            <span class="text-success">+{% row.profit_risky_purchase %}</span>
                                        {% else %}
                                            {% row.profit_risky_purchase %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.cost_risky_purchase != 0 %}
                                            <span class="text-danger">-{% row.cost_risky_purchase %}</span>
                                        {% else %}
                                            {% row.cost_risky_purchase %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        <span class="text-success">+{% row.additional_risky_purchase %}</span>
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.consumption_risky_purchase != 0 %}
                                            <span class="text-danger">-{% row.consumption_risky_purchase %}</span>
                                        {% else %}
                                            {% row.consumption_risky_purchase %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.endowment_risky_purchase < 0 %}
                                            <span class="text-danger">{% row.endowment_risky_purchase %}</span>
                                        {% elif row.endowment_risky_purchase >= 0 %}
                                            {% row.endowment_risky_purchase %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="fw-bold">Total</td>
                                <td class="fw-bold">
                                    {% if risky_purchase_summary.profit != 0 %}
                                        <span class="fw-bold">+{% risky_purchase_summary.profit %}</span>
                                    {% else %}
                                        {% risky_purchase_summary.profit %}
                                    {% endif %}
                                </td>
                                <td class="fw-bold">
                                    {% if risky_purchase_summary.cost != 0 %}
                                        <span class="text-danger">-{% risky_purchase_summary.cost %}</span>
                                    {% else %}
                                        {% risky_purchase_summary.profit %}
                                    {% endif %}
                                </td>
                                <td class="fw-bold">
                                    <span class="text-success">+{% risky_purchase_summary.additional %}</span>
                                </td>
                                <td class="fw-bold">
                                    <span class="text-danger">-{% risky_purchase_summary.consumption %}</span>
                                </td>
                                <td class="fw-bold">
                                    {% if risky_purchase_summary.endowment < 0 %}
                                        <span class="text-danger">{% risky_purchase_summary.endowment %}</span>
                                    {% elif risky_purchase_summary.endowment >= 0 %}
                                        {% risky_purchase_summary.endowment %}
                                    {% endif %}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="alert alert-primary m-0" role="alert">
                        Uang yang Anda peroleh adalah dari perhitungan di Total Akhir
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h4 class="m-0">Risky Investment Allocation</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sesi Ronde</th>
                                <th>Profit/Keuntungan</th>
                                <th>Biaya Alokasi Opsi</th>
                                <th>Bantuan</th>
                                <th>Beban Konsumsi</th>
                                <th>Sisa Uang Akhir Ronde</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in risky_allocation %}
                                <tr>
                                    <td>Ronde {% row.round_number_risky_allocation %}</td>
                                    <td class="fw-bold">
                                        {% if row.profit_risky_allocation != 0 %}
                                            <span class="text-success">+{% row.profit_risky_allocation %}</span>
                                        {% else %}
                                            {% row.profit_risky_allocation %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.cost_risky_allocation != 0 %}
                                            <span class="text-danger">-{% row.cost_risky_allocation %}</span>
                                        {% else %}
                                            {% row.cost_risky_allocation %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        <span class="text-success">+{% row.additional_risky_allocation %}</span>
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.consumption_risky_allocation != 0 %}
                                            <span class="text-danger">-{% row.consumption_risky_allocation %}</span>
                                        {% else %}
                                            {% row.consumption_risky_allocation %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.endowment_risky_allocation < 0 %}
                                            <span class="text-danger">{% row.endowment_risky_allocation %}</span>
                                        {% elif row.endowment_risky_allocation >= 0 %}
                                            {% row.endowment_risky_allocation %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="fw-bold">Total</td>
                                <td class="fw-bold">
                                    {% if risky_allocation_summary.profit != 0 %}
                                        <span class="fw-bold">+{% risky_allocation_summary.profit %}</span>
                                    {% else %}
                                        {% risky_allocation_summary.profit %}
                                    {% endif %}
                                </td>
                                <td class="fw-bold">
                                    {% if risky_allocation_summary.cost != 0 %}
                                        <span class="text-danger">-{% risky_allocation_summary.cost %}</span>
                                    {% else %}
                                        {% risky_allocation_summary.profit %}
                                    {% endif %}
                                </td>
                                <td class="fw-bold">
                                    <span class="text-success">+{% risky_allocation_summary.additional %}</span>
                                </td>
                                <td class="fw-bold">
                                    <span class="text-danger">-{% risky_allocation_summary.consumption %}</span>
                                </td>
                                <td class="fw-bold">
                                    {% if risky_allocation_summary.endowment < 0 %}
                                        <span class="text-danger">{% risky_allocation_summary.endowment %}</span>
                                    {% elif risky_allocation_summary.endowment >= 0 %}
                                        {% risky_allocation_summary.endowment %}
                                    {% endif %}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="alert alert-primary m-0" role="alert">
                        Uang yang Anda peroleh adalah dari perhitungan di Total Akhir
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h4 class="m-0">Real Effort - Decoding</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sesi Ronde</th>
                                <th>Skor</th>
                                <th>Biaya Beli Waktu</th>
                                <th>Bantuan</th>
                                <th>Beban Konsumsi</th>
                                <th>Sisa Uang Akhir Ronde</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in cognitive_task %}
                                <tr>
                                    <td>Ronde {% row.round_number_cognitive %}</td>
                                    <td class="fw-bold">
                                        {% if row.score_cognitive != 0 %}
                                            <span class="text-success">+{% row.score_cognitive %}</span>
                                        {% else %}
                                            {% row.score_cognitive %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.time_cost_cognitive != 0 %}
                                            <span class="text-danger">-{% row.time_cost_cognitive %}</span>
                                        {% else %}
                                            {% row.time_cost_cognitive %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        <span class="text-success">+{% row.additional_cognitive %}</span>
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.consumption_cognitive != 0 %}
                                            <span class="text-danger">-{% row.consumption_cognitive %}</span>
                                        {% else %}
                                            {% row.consumption_cognitive %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.endowment_cognitive < 0 %}
                                            <span class="text-danger">{% row.endowment_cognitive %}</span>
                                        {% elif row.endowment_cognitive >= 0 %}
                                            {% row.endowment_cognitive %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="fw-bold">Total</td>
                                <td class="fw-bold">
                                    {% if cognitive_task_summary.profit != 0 %}
                                        <span class="fw-bold">+{% cognitive_task_summary.profit %}</span>
                                    {% else %}
                                        {% cognitive_task_summary.profit %}
                                    {% endif %}
                                </td>
                                <td class="fw-bold">
                                    {% if cognitive_task_summary.cost != 0 %}
                                        <span class="text-danger">-{% cognitive_task_summary.cost %}</span>
                                    {% else %}
                                        {% cognitive_task_summary.profit %}
                                    {% endif %}
                                </td>
                                <td class="fw-bold">
                                    <span class="text-success">+{% cognitive_task_summary.additional %}</span>
                                </td>
                                <td class="fw-bold">
                                    <span class="text-danger">-{% cognitive_task_summary.consumption %}</span>
                                </td>
                                <td class="fw-bold">
                                    {% if cognitive_task_summary.endowment < 0 %}
                                        <span class="text-danger">{% cognitive_task_summary.endowment %}</span>
                                    {% elif cognitive_task_summary.endowment >= 0 %}
                                        {% cognitive_task_summary.endowment %}
                                    {% endif %}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="alert alert-primary m-0" role="alert">
                        Uang yang Anda peroleh adalah dari perhitungan di Total Akhir
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Investment Panel Allocation</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sesi Ronde</th>
                                <th>Profit/Keuntungan</th>
                                <th>Biaya Alokasi Opsi</th>
                                <th>Bantuan</th>
                                <th>Beban Konsumsi</th>
                                <th>Sisa Uang Akhir Ronde</th>
                            </tr>
                        </thead>
                        {% for row in panel_allocation %}
                                <tr>
                                    <td>Ronde {% row.round_number_panel_allocation %}</td>
                                    <td class="fw-bold">
                                        {% if row.profit_panel_allocation != 0 %}
                                            <span class="text-success">+{% row.profit_panel_allocation %}</span>
                                        {% else %}
                                            {% row.profit_panel_allocation %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.cost_panel_allocation != 0 %}
                                            <span class="text-danger">-{% row.cost_panel_allocation %}</span>
                                        {% else %}
                                            {% row.cost_panel_allocation %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        <span class="text-success">+{% row.additional_panel_allocation %}</span>
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.consumption_panel_allocation != 0 %}
                                            <span class="text-danger">-{% row.consumption_panel_allocation %}</span>
                                        {% else %}
                                            {% row.consumption_panel_allocation %}
                                        {% endif %}
                                    </td>
                                    <td class="fw-bold">
                                        {% if row.endowment_panel_allocation < 0 %}
                                            <span class="text-danger">{% row.endowment_panel_allocation %}</span>
                                        {% elif row.endowment_panel_allocation >= 0 %}
                                            {% row.endowment_panel_allocation %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="fw-bold">Total</td>
                                <td class="fw-bold">
                                    {% if panel_allocation_summary.profit != 0 %}
                                        <span class="fw-bold">+{% panel_allocation_summary.profit %}</span>
                                    {% else %}
                                        {% panel_allocation_summary.profit %}
                                    {% endif %}
                                </td>
                                <td class="fw-bold">
                                    {% if panel_allocation_summary.cost != 0 %}
                                        <span class="text-danger">-{% panel_allocation_summary.cost %}</span>
                                    {% else %}
                                        {% panel_allocation_summary.profit %}
                                    {% endif %}
                                </td>
                                <td class="fw-bold">
                                    <span class="text-success">+{% panel_allocation_summary.additional %}</span>
                                </td>
                                <td class="fw-bold">
                                    <span class="text-danger">-{% panel_allocation_summary.consumption %}</span>
                                </td>
                                <td class="fw-bold">
                                    {% if panel_allocation_summary.endowment < 0 %}
                                        <span class="text-danger">{% panel_allocation_summary.endowment %}</span>
                                    {% elif panel_allocation_summary.endowment >= 0 %}
                                        {% panel_allocation_summary.endowment %}
                                    {% endif %}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="alert alert-primary m-0" role="alert">
                        Uang yang Anda peroleh adalah dari perhitungan di Total Akhir
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="otree-btn-next btn btn-outline-success">
                <i class="fa-solid fa-sack-dollar me-1"></i>
                <span>Dapatkan Pembayaran Anda</span>
            </button>
        </div>
    </div>
{% endblock %}