{% block styles  %}
    <link href="{{ static 'fontawesome/css/all.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/solid.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/brands.css' }}" rel="stylesheet"/>
{% endblock %}

{{ block title }}
    <title>Investasi Berisiko 1 - Ronde Latihan</title>
{{ endblock }}

{{ block content }}
    <div class="card">
        <div class="card-header">
            <span class="badge bg-success fs-6 me-2">
                Ronde: {{ player.round_number }}
            </span>
            <span class="badge bg-danger fs-6">
                Endowment Anda: {{ player.endowment }} poin
            </span>
            {{ if player.endowment < 25 }}
                <button type="submit" class="badge btn btn-primary fs-6 ms-2"
                    name="subject_action" value="endowment_limit">
                    Lanjut
                </button>
            {{ endif }}
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="p-0">
                    <h2>Investasi Berisiko 1</h2>
                    <hr>
                    <p class="m-0">
                        <div class="alert alert-success" role="alert">
                            Silahkan pilih opsi yang Anda inginkan, dan dapatkan keuntungannya.
                            <br>
                            <strong>Tidak tertarik berinvestasi pada ronde ini?</strong>
                            Silahkan klik tombol <strong>"Lewati Ronde"</strong>
                            untuk melanjutkan.
                        </div>
                    </p>
                </div>
                <div class="mt-4">
                    <form method="post">
                        <div class="row row-cols-1 row-cols-md-3 g-2">
                            {{ for option in random_options }}
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-header">
                                            <div class="form-check fs-4">
                                                <input class="form-check-input" type="checkbox"
                                                   name="selected_optionprice{{ forloop.counter }}"
                                                   value="{{ option.name }}"
                                                   {{ if not player.endowment >= 25 }}disabled{{ endif }}>
                                                <label class="form-check-label" for="{{ option.name }}">
                                                    Opsi {{ forloop.counter }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                {% for outcome in option.formatted_outcomes %}
                                                    <li class="list-group-item">{{ outcome }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <span class="badge bg-danger fs-6">
                                                Harga Opsi : {{ Constants.cost_per_option }} poin
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {{ endfor }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" name="subject_action" value="invested" class="btn btn-outline-success">
                <i class="fa-solid fa-money-bill-trend-up"></i>
                <span>Submit</span>
            </button>
            <button type="submit" name="subject_action" value="skip" class="btn btn-outline-danger">
                <i class="fa-solid fa-forward"></i>
                <span>Lewati Ronde</span>
            </button>
        </div>
    </div>
{{ endblock }}