{% block styles  %}
    <link href="{{ static 'fontawesome/css/all.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/solid.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/brands.css' }}" rel="stylesheet"/>
{% endblock %}

{{ block title }}
    <title>Beli Waktu - Investment Game 3</title>
{{ endblock }}

{{ block content }}
    <div class="card mb-3">
        <div class="card-header">
            <span class="badge bg-success fs-6 me-2">
                Ronde : {{ player.round_number }}
            </span>
            <span class="badge bg-danger fs-6">
                Endowment Anda: {{ player.endowment }}
            </span>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="p-0">
                    <h4>Durasi Waktu - Investment Game 3</h4>
                    <div class="mb-3">
                        <label class="form-label">
                            Masukkan jumlah Endowment yang ingin Anda gunakan untuk membeli waktu
                        </label>
                        <input type="text" class="form-control" name="buy_time" value="0">
                    </div>
                    <hr>
                    <p class="m-0">
                        <div class="alert alert-success m-0" role="alert">
                            <h5 class="alert-heading">
                                Informasi Ketentuan:
                            </h5>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Harga per 20 Detik adalah 5 Endowment.
                                    </span>
                                </li>
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Belaku kelipatan per 5 Endowment. Anda tidak dapat mengalokasi dana selain
                                        kelipatan yang telah ditentukan.
                                    </span>
                                </li>
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Jika Anda mengalokasi dana 20 Endowment, maka waktu yang Anda dapatkan adalah
                                        40 Detik dan seterusnya.
                                    </span>
                                </li>
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Input Form tidak boleh kosong.
                                    </span>
                                </li>
                                {{ if checkpoint >= Constants.subject_interest }}
                                    <li class="list-group-item list-group-item-success border-0 p-0">
                                        <i class="fa-solid fa-check"></i>
                                        <span>
                                            Jika Anda tidak tertarik untuk kembali mengikuti Cognitive Task, Anda dapat
                                            mengakhiri Cognitive Task dengan memilih "Akhiri Cognitive Task".
                                        </span>
                                    </li>
                                {{ endif }}
                            </ul>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" name="subject_action" value="start"
                class="btn {{ if player.endowment < 10 }}btn-secondary{{ else }}btn-outline-success{{ endif }}"
                {{ if not player.endowment >= 10 }}disabled{{ endif }}>
                <i class="fa-regular fa-hourglass-half"></i>
                <span>Mulai</span>
            </button>
            {{ if checkpoint >= Constants.subject_interest }}
                <button type="submit" name="subject_action" value="end"
                    class="btn {{ if player.endowment < 10 }}btn-secondary{{ else }}btn-outline-danger{{ endif }}"
                    {{ if not player.endowment >= 10 }}disabled{{ endif }}>
                    <i class="fa-solid fa-forward-fast"></i>
                    <span>Akhiri Cognitive Task</span>
                </button>
            {{ endif }}
        </div>
    </div>
{{ endblock }}