{% block styles  %}
    <link href="{{ static 'fontawesome/css/all.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/solid.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/brands.css' }}" rel="stylesheet"/>
{% endblock %}

{{ block title }}
    <span hidden>Informasi Pembayaran</span>
{{ endblock }}

{{ block content }}
    <div class="card mb-3">
        <div class="card-header">
            <span class="badge bg-success fs-6 me-2">
                Payment
            </span>
        </div>
        <div class="card-body">
            <h1 class="card-title">Informasi Pembayaran</h1>
            <div class="card-text">
                <p>
                    Anda telah melakukan seluruh rangkaian eksperimen. Anda akan mendapatkan pambayaran yang dimana
                    pembayaran tersebut diambil dari salah satu Investment Game. Pembayaran akan diberikan kepada Anda
                    tergantung besaran jumlah yang Anda dapatkan pada Investment Game tersebut. Silahkan klik "Lanjut"
                    untuk mengetahui pembayaran Anda.
                </p>
                <table class="table">
                    <thead>
                        <th>List Investment Game</th>
                        <th>Total Akhir Investment Game</th>
                    </thead>
                    <tbody>
                        {% for app, payoff in app_results.items %}
                            <tr>
                                <td>{{ app }}</td>
                                <td>{{ payoff }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <button class="otree-btn-next btn btn-outline-primary">
                <span>Dapatkan Pembayaran Anda</span>
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
    </div>
{{ endblock }}