{% block styles  %}
    <link href="{{ static 'fontawesome/css/all.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/solid.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/brands.css' }}" rel="stylesheet"/>
{% endblock %}

{{ block title }}
    <title>Investasi Berisiko 4 - Ronde {{ player.round_number }}</title>
{{ endblock }}

{{ block content }}
    <div class="card mb-3">
        <div class="card-header">
            <span class="badge bg-success fs-6 me-2">
                Ronde : {{ player.round_number }}
            </span>
            <span class="badge bg-danger fs-6">
                Endowment Anda: {{ player.endowment }} poin
            </span>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="p-0">
                    <h2>Investasi Berisiko 4</h2>
                    <hr>
                    <p class="m-0">
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">
                                Isikan Alokasi sesuai kalkulasi Anda sendiri
                            </h4>
                            <hr>
                            <h5 class="alert-heading">
                                Informasi Ketentuan:
                            </h5>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Input Form tidak boleh kosong.
                                    </span>
                                </li>
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Jika Anda memilih opsi tertentu, maka opsi yang tidak dipilih di isi dengan 0
                                    </span>
                                </li>
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Jika Anda Sukses, maka alokasi Anda akan dikalikan return yang tertera
                                    </span>
                                </li>
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Jika Anda Gagal, maka Anda mendapatkan 0 dari alokasi Anda
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </p>
                </div>
                <form method="post">
                    <!-- Tabel untuk menampilkan semua opsi investasi -->
                    <table class="table table-bordered">
                        <thead>
                            <th class="col">No.</th>
                            <th class="col">Return</th>
                            <th class="col">Probabilitas</th>
                            <th class="col">Masukkan Alokasi Anda</th>
                        </thead>
                        <tbody>
                            {{ for scheme in investment_scheme }}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ scheme.investment_return }}</td>
                                    <td>{{ scheme.probability }}%</td>
                                    <td>
                                        {{ if player.endowment < 0 or player.endowment == 0 }}
                                            <input type="number" class="form-control"
                                               name="asian_ev_{{ forloop.counter }}" step="0.01" value="0" readonly>
                                        {{ else }}
                                            <input type="number" class="form-control"
                                               name="asian_ev_{{ forloop.counter }}" step="0.01" value="0" required>
                                        {{ endif }}
                                    </td>
                                </tr>
                            {{ endfor }}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" name="subject_action" value="invested"
                class="btn {{ if player.endowment == 0 }}btn-secondary{{ else }}btn-outline-success{{ endif }}"
                {{ if player.endowment == 0 }}disabled{{ endif }}>
                <i class="fa-solid fa-money-bill-trend-up"></i>
                <span>Submit</span>
            </button>
            <button type="submit" name="subject_action" value="skip" class="btn btn-outline-danger">
                <i class="fa-solid fa-forward"></i>
                <span>Lewati Ronde</span>
            </button>
        </div>
    </div>
{{ endblock }}