{% extends "global/Page.html" %}
{% load static %}

{% block content %}

    <h1>Hasil Akhir</h1>

    <p>Ronde yang dipilih secara acak untuk perhitungan payoff akhir adalah: <strong>{{ selected_round }}</strong></p>

    <p>Jenis barang yang dipilih pada ronde terpilih di atas adalah: <strong>{{ goods_type }}</strong></p>

    <p>Pembayaran yang Anda peroleh berdasarkan ronde terpilih ditambah uang kehadiran adalah: <strong>Rp{{ final_payoff }}</strong></p>

    <p>Terima kasih telah berpartisipasi dalam eksperimen ini. Silakan klik LANJUT untuk pengisian kuesioner mengenai keyakinan Anda terhadap penggunaan produk berkelanjutan dan kuesioner untuk proses pembayaran Anda.</p>

    <div class="choice-buttons" style="text-align: center;">
        <button id="btn_lanjut" class="otree-btn-next btn btn-primary">LANJUT</button>
    </div>

{% endblock %}
