{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <title>Real Effort - Decoding</title>
{% endblock %}

{{ block content }}
    <div class="card mb-3">
        <div class="card-header">
            <h4 class="m-0">Informasi Pendapatan</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Uang + Bantuan</th>
                        <th scope="col">Total Uang Anda</th>
                        <th scope="col">Beban Konsumsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {% player.uang_sebelum_tambah_bansos %} + {% player.bantuan_sosial %}
                        </td>
                        <td>
                            {% player.uang_sesudah_tambah_bansos %}
                        </td>
                        <td>
                            {% player.beban_konsumsi %} (dikenakan setiap akhir ronde)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span class="badge bg-success fs-6 me-2">
                Ronde: {{ player.round_number }}
            </span>
            <span class="badge bg-danger fs-6 me-2">
                Uang Anda saat ini: {{ player.uang_sesudah_tambah_bansos }}
            </span>
            <span class="badge bg-primary fs-6">
                Anda adalah Player [id_player]
            </span>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="p-0">
                    <h4>Durasi Waktu - Real Effort Decoding</h4>
                    <div class="mb-3">
                        <label class="form-label">
                            Masukkan Alokasi yang ingin Anda gunakan untuk membeli waktu
                        </label>
                        <input type="number" class="form-control" name="beli_waktu" required>
                    </div>
                    <hr>
                    <p class="m-0">
                        <div class="alert alert-success m-0" role="alert">
                            <h5 class="alert-heading">
                                Informasi Ketentuan:
                            </h5>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Harga per 20 Detik adalah 5 poin.
                                    </span>
                                </li>
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Belaku kelipatan per 5 poin. Anda tidak dapat mengalokasi dana selain
                                        kelipatan yang telah ditentukan.
                                    </span>
                                </li>
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Jika Anda mengalokasi dana 10 poin, maka waktu yang Anda dapatkan adalah
                                        40 Detik dan seterusnya.
                                    </span>
                                </li>
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Input Form tidak boleh kosong.
                                    </span>
                                </li>
                                <li class="list-group-item list-group-item-success border-0 p-0">
                                    <i class="fa-solid fa-check"></i>
                                    <span>
                                        Jika Anda tidak tertarik untuk kembali mengikuti aktivitas ini, Anda
                                        dapat mengakhiri dengan menekan tombol "Akhiri Aktivitas".
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="otree-btn-next btn btn-outline-success">
                <i class="fa-regular fa-hourglass-half"></i>
                <span>Mulai</span>
            </button>
        </div>
    </div>
{{ endblock }}