{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <style>
        .otree-form-errors,
        .otree-timer{
            display: none;
        }
    </style>
{% endblock %}

{% block title %}
    <title>Real Effort - Decoding</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h1 class="text-center mb-3">
                            Real Effort Decoding -
                            <span class="badge bg-success me-2">Ronde : {% player.round_number %}</span>
                        </h1>
                        <div class="alert alert-primary" role="alert">
                            <h4 class="alert-heading">Petunjuk Permainan</h4>
                            <p class="m-0">
                                <i class="fa-solid fa-check"></i>
                                Hitung jumlah Huruf/Angka sesuai Target yang muncul pada tabel yang telah tersedia
                            </p>
                            <p class="m-0">
                                <i class="fa-solid fa-check"></i>
                                Jika Target tidak muncul pada tabel, input form jawaban diisi 0
                            </p>
                            <p class="m-0">
                                <i class="fa-solid fa-check"></i>
                                Setiap jawaban benar bernilai 3 poin
                            </p>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="row align-items-center">
                            <div class="col-7">
                                <table id="boardContainer" class="table table-stripe border border-2 text-center">
                                    {% for row in board %}
                                        <tbody>
                                            {% for cell in row %}
                                                <td class="board-cell border border-3 fs-4">
                                                    <strong>{% cell %}</strong>
                                                </td>
                                            {% endfor %}
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="col-5">
                                <div class="fs-5 mb-3">
                                    Berapa jumlah Huruf/Angka
                                        <span id="targetCharacter" class="badge bg-danger fs-5">{% target_character %}</span>
                                    yang muncul pada tabel?
                                </div>
                                <div class="mb-3">
                                    <div>
                                        <div class="input-group">
                                            <input id="countGuess" type="number" class="form-control"
                                                   required>
                                            <button class="btn btn-primary" onclick="submitGuess()">Kirim</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table fs-5">
                                    <thead>
                                        <th scope="col">Skor Anda</th>
                                        <th scope="col">Waktu Anda</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span id="playerScore" class="fw-bold text-success">+{% player_score %}</span>
                                            </td>
                                            <td>
                                                <span class="otree-timer__time-left fw-bold"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Informasi Realtime Peserta</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <th>List Peserta</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="realtime-table"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>

    const myPlayerId = {{ my_id }};

    function getBadge(status){

        switch(status){

            case "Sudah Masuk Halaman":
        case "Sedang Mengalokasikan Dana":
        case "Player membeli waktu bermain":
            return '<span class="badge bg-primary">Sedang membeli waktu bermain</span>';

        case "Sedang Bermain Decoding":
            return '<span class="badge bg-info">Sedang Bermain Decoding</span>';

        case "Player telah menyelesaikan Decoding":
            return '<span class="badge bg-success">Player telah menyelesaikan Decoding</span>';

        case "Player tidak membeli waktu bermain":
            return '<span class="badge bg-warning text-dark">Tidak bermain Decoding</span>';

        default:
            return '<span class="badge bg-secondary">Belum Masuk Halaman</span>';

        }

    }

    document.addEventListener("DOMContentLoaded", function(){

        liveSend({
            action: "start_decoding"
        });

    });

    function submitGuess(){

    const guess = Number(
        document.getElementById("countGuess").value
    );

    liveSend({

        action: "submit_guess",
        count_guess: guess

    });

}

    liveRecv = function(data) {

        // =====================================
        // UPDATE TABEL REALTIME
        // =====================================

        if(data.players){

            let html = "";

            data.players.forEach(function(p){

                html += `
                    <tr>
                        <td>
                            Player ${p.id}
                            ${
                                p.id === myPlayerId
                                ? '<span class="badge bg-primary ms-2">Anda</span>'
                                : ''
                            }
                        </td>

                        <td>
                            ${getBadge(p.status)}
                        </td>
                    </tr>
                `;

            });

            document.getElementById("realtime-table").innerHTML = html;

        }

        // =====================================
        // UPDATE GAME
        // =====================================

        if(data.new_score !== undefined){

            document.getElementById("playerScore").textContent =
                "+" + data.new_score;

        }

        if(data.new_target_character){

            document.getElementById("targetCharacter").textContent =
                data.new_target_character;

        }

        if(data.new_board){

            const boardContainer =
                document.getElementById("boardContainer");

            boardContainer.innerHTML = "";

            data.new_board.forEach(function(row){

                const tr = document.createElement("tr");

                row.forEach(function(char){

                    const td = document.createElement("td");

                    td.className =
                        "board-cell border border-3 fs-4";

                    td.innerHTML =
                        "<strong>" + char + "</strong>";

                    tr.appendChild(td);

                });

                boardContainer.appendChild(tr);

            });

        }

        document.getElementById("countGuess").value = "";

        // =====================================
        // GAME SELESAI
        // =====================================

        if(data.finished){

            liveSend({
                action:"finish_decoding"
            });

        }

    };

</script>
{{ endblock }}