{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <title>Konfirmasi Eskperimen</title>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="m-0">Informasi Penting</h3>
        </div>
        <div class="card-body">
            <p>
                Anda akan memasuki Sesi Eksperimen, berikut di bawah ini merupakan alur eksperimen yang akan Anda
                lakukan:
            </p>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sesi Latihan Risky Investment Purchase</div>
                        Sesi Latihan ini dilakukan guna mengetahui sesi Risky Investment Purchase. Sesi Latihan ini
                        berlangsung selama 2 ronde.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sesi Eksperimen - Risky Investment Purchase</div>
                        Setelah Anda melakukan sesi latihan, Anda akan diarahkan menuju sesi eksperimen sesungguhnya
                        Risky Investment Purchase.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sesi Latihan Risky Investment Allocation</div>
                        Sesi Latihan ini dilakukan guna mengetahui sesi Risky Investment Allocation. Sesi Latihan ini
                        berlangsung selama 2 ronde.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sesi Eksperimen - Risky Investment Allocation</div>
                        Setelah Anda melakukan sesi latihan, Anda akan diarahkan menuju sesi eksperimen sesungguhnya
                        Risky Investment Allocation.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sesi Latihan Real Effort Decoding</div>
                        Sesi Latihan ini dilakukan guna mengetahui sesi Real Effort Decoding. Sesi Latihan ini
                        berlangsung selama 2 ronde.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sesi Eksperimen - Real Effort Decoding</div>
                        Setelah Anda melakukan sesi latihan, Anda akan diarahkan menuju sesi eksperimen sesungguhnya
                        Real Effort Decoding.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sesi Latihan Investment Panel Allocation</div>
                        Sesi Latihan ini dilakukan guna mengetahui sesi Investment Panel Allocation. Sesi Latihan ini
                        berlangsung selama 2 ronde.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sesi Eksperimen - Investment Panel Allocation</div>
                        Setelah Anda melakukan sesi latihan, Anda akan diarahkan menuju sesi eksperimen sesungguhnya
                        Investment Panel Allocation.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Survey & Demographics</div>
                        Setelah Anda melakukan rangkaian sesi eksperimen, Anda diwajibkan mengisi data survei guna
                        sebagai data peserta dan juga untuk proses mendapatkan pembayaran Anda dalam sesi eksperimen
                        tersebut.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Pembayaran</div>
                        Setelah mengisi survei, Anda akan mendapatkan pembayaran dari rangkaian sesi eksperimen ini.
                        Gunakan waktu & strategi dengan baik agar mendapatkan pembayaran yang baik bagi Anda.
                    </div>
                </li>
            </ol>
            <h3 class="mt-3 mb-0">Persiapkan diri Anda dan Selamat Mengerjakan.</h3>
        </div>
        <div class="card-footer">
            <button class="otree-btn-next btn btn-outline-success">
                <i class="fa-solid fa-circle-play"></i>
                <span>Mulai Eksperimen</span>
            </button>
        </div>
    </div>
{% endblock %}
