{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <title>Instruksi Umum</title>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="m-0">Instruksi Umum</h3>
        </div>
        <div class="card-body">
            <p>
                Selamat datang dan terima kasih telah bersedia untuk mengikuti eksperimen ini. <strong>Mohon baca dengan
                seksama instruksi ini agar Anda dapat memahami apa yang harus Anda lakukan di dalam eksperimen
                ini</strong>. Eksperimen ini memberikan Anda kesempatan untuk memperoleh uang tunai yang akan dibayarkan
                segera setelah Anda menyelesaikan rangkaian eksperimen ini. Besaran uang yang akan Anda peroleh
                bergantung pada apa yang Anda lakukan di dalam eksperimen ini. Oleh karenanya, mohon untuk serius dalam
                menyelesaikannya sesuai dengan preferensi Anda. Uang yang Anda peroleh dalam eksperimen ini akan
                ditambahkan dengan uang kehadiran sebesar <strong>Rp10.000</strong> apabila Anda menyelesaikan seluruh
                rangkaian eksperimen ini.
            </p>
            <p>
                Anda juga akan diminta untuk mengisi kuesioner pendek mengenai aspek demografi Anda setelah
                menyelesaikan tahapan eksperimen. Lembar persetujuan terinformasi tersedia pada saat Anda
                mendaftar eksperimen ini via email dan telah Anda setujui untuk mengikuti eksperimen ini.
            </p>
            <ul class="list-group border-0">
                <li class="list-group-item border-0">
                    <h4>Eksperimen</h4>
                    <p>
                        Eksperimen ini ditujukan untuk mendapatkan informasi mengenai bagaimana Anda menggunakan
                        bantuan sosial ketika Anda juga memiliki kesempatan untuk berinvestasi dan meningkatkan total
                        uang Anda untuk memenuhi tanggungan konsumsi. Anda akan menghadapi empat tipe/bentuk investasi
                        (kita istilahkan dengan “<i>situasi</i>”) yang berbeda dimana investasi tersebut berpotensi
                        menghasilkan uang lebih besar untuk meningkatkan total uang yang Anda miliki. Berikut adalah
                        empat situasi yang akan Anda hadapi:
                    </p>
                    <p>
                        <ul class="fw-bold">
                            <li>Risky Investment Purchase</li>
                            <li>Risky Investment Allocation </li>
                            <li>Real Effort - Decoding</li>
                            <li>Investment Panel Allocation</li>
                        </ul>
                    </p>
                    <p>
                        Di masing-masing situasi, Anda akan bermain sepanjang <strong>10 ronde</strong>—semuanya
                        bertipe sama—dan apa yang Anda lakukan di setiap ronde
                        <strong>akan terbawa ke ronde selanjutnya</strong>; dan begitu seterusnya sampai
                        <strong>ronde ke-10</strong>. Anda akan menerima uang sebesar <strong>100 poin</strong> di
                        ronde pertama saja (<strong>sebagai tabungan awal</strong>) serta bantuan sosial sebesar
                        <strong class="text-success">30 poin</strong> di setiap ronde. Di setiap ronde, Anda memiliki
                        tanggungan konsumsi sebesar <strong class="text-danger">35 poin</strong> yang harus Anda
                        bayarkan di akhir setiap ronde. Jika total uang Anda kurang dari
                        <strong class="text-danger">tanggungan konsumsi (35)</strong>, <strong>maka kekurangan itu akan
                        dibawa di ronde selanjutnya</strong> (<strong class="text-danger">menjadi utang Anda</strong>).
                    </p>
                    <p class="m-0">
                        Penjelasan dan ilustrasi mengenai masing-masing situasi dapat Anda lihat di halaman berikutnya.
                        Anda juga wajib mengisi survei demografi di bagian akhir dari eksperimen ini.
                    </p>
                </li>
                <li class="list-group-item border-0">
                    <h4>Durasi Eksperimen</h4>
                    <p class="m-0">
                        Kami memperkirakan eksperimen ini akan selesai dalam <strong>lebih-kurang 120 menit</strong>.
                        Harap menyelesaikan eksperimen ini secara mandiri berdasarkan preferensi Anda sendiri karena
                        akan menentukan pembayaran yang Anda peroleh.
                    </p>
                </li>
                <li class="list-group-item border-0">
                    <h4>Pembayaran</h4>
                    <p class="m-0">
                        <strong>Pembayaran</strong> untuk Anda utamanya berasal dari keputusan yang Anda lakukan di
                        <strong>salah satu situasi yang dipilih secara acak</strong>. Jumlah pembayaran bergantung pada
                        nilai yang Anda peroleh di situasi tersebut. Oleh karena itu, masing-masing peserta dapat
                        menerima jumlah pembayaran yang berbeda. Penjelasan mengenai ini ada di halaman selanjutnya.
                        Pembayaran yang Anda peroleh ini kemudian ditambahkan dengan <strong>uang kehadiran</strong>
                        dan penyelesaian rangkaian eksperimen sebesar <strong>Rp10.000</strong>.
                    </p>
                </li>
                <li class="list-group-item border-0">
                    <h4>Kontak</h4>
                    <p>
                        Anda dapat menghubungi kami melalui nomor <strong>WA 081945309085 (Agathia)</strong> atau
                        <strong>081288106065 (Yudistira)</strong> selama eksperimen berlangsung jika ada hal-hal yang
                        perlu Anda tanyakan mengenai prosedur eksperimen ini. Anda juga bisa menghubungi Komisi Etik
                        Penelitian Universitas Gadjah Mada jika ada hal yang perlu Anda konfirmasi mengenai eksperimen
                        ini di:
                    </p>
                    <ul>
                        <li>Email :  komisietik@ugm.ac.id.</li>
                        <li>
                            Alamat kantor : Gedung Pusat Universitas Gadjah Mada, Lantai 3 Sayap Selatan
                            (Kantor Direktorat Penelitian)
                        </li>
                        <li>Telepon : (0274) 520669</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <button class="otree-btn-next btn btn-outline-primary">
                <span>Lanjut</span>
                <i class="fa-solid fa-circle-arrow-right ms-1"></i>
            </button>
        </div>
    </div>
{% endblock %}