{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <title>Instruksi Umum</title>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="m-0">Instruksi Umum</h3>
        </div>
        <div class="card-body">
            <p>
                Selamat datang dan terima kasih telah bersedia untuk mengikuti eksperimen ini. Mohon baca dengan
                seksama instruksi ini agar Anda dapat memahami apa yang harus Anda lakukan di dalam eksperimen ini.
                Eksperimen ini memberikan Anda kesempatan untuk memperoleh uang tunai yang akan dibayarkan segera
                setelah Anda menyelesaikan rangkaian eksperimen ini. Besaran uang yang akan Anda peroleh bergantung
                pada apa yang Anda lakukan di dalam eksperimen ini. Oleh karenanya, mohon untuk serius dalam
                menyelesaikannya sesuai dengan preferensi Anda. Uang yang Anda peroleh dalam eksperimen ini akan
                ditambahkan dengan uang kehadiran sebesar Rp10.000 apabila Anda menyelesaikan seluruh rangkaian
                eksperimen ini.
            </p>
            <p>
                Anda juga akan diminta untuk mengisi kuesioner pendek mengenai aspek demografi Anda setelah
                menyelesaikan tahapan eksperimen. Lembar persetujuan terinformasi tersedia pada saat Anda
                mendaftar eksperimen ini via email dan telah Anda setujui untuk mengikuti eksperimen ini.
            </p>
            <ul class="list-group border-0">
                <li class="list-group-item border-0">
                    <h4>Eksperimen</h4>
                    <p>
                        Eksperimen ini ditujukan untuk mendapatkan informasi mengenai bagaimana Anda menggunakan
                        bantuan sosial ketika Anda juga memiliki kesempatan untuk berinvestasi dan meningkatkan total
                        uang Anda untuk memenuhi tanggungan konsumsi. Anda akan menghadapi empat tipe/bentuk investasi
                        (kita istilahkan dengan “situasi”) yang berbeda dimana investasi tersebut berpotensi
                        menghasilkan uang lebih besar untuk meningkatkan total uang yang Anda miliki. Berikut adalah
                        empat situasi yang akan Anda hadapi:
                    </p>
                    <p>
                        <ul>
                            <li>Risky Choice with Price</li>
                            <li>Risky Choice with Allocation </li>
                            <li>Real Effort - Decoding</li>
                            <li>Asian Handicap</li>
                        </ul>
                    </p>
                    <p>
                        Di masing-masing situasi, Anda akan bermain sepanjang 10 ronde—semuanya bertipe sama—dan apa
                        yang Anda lakukan di setiap ronde akan terbawa ke ronde selanjutnya; dan begitu seterusnya
                        sampai ronde ke-10. Anda akan menerima uang sebesar 100 poin di ronde pertama saja
                        (sebagai tabungan awal) serta bantuan sosial sebesar 30 poin di setiap ronde. Di setiap ronde,
                        Anda memiliki tanggungan konsumsi sebesar 50 yang harus Anda bayarkan di akhir setiap ronde.
                        Jika total uang Anda kurang dari tanggungan konsumsi (50), maka kekurangan itu akan dibawa di
                        ronde selanjutnya (menjadi utang Anda).
                    </p>
                    <p class="m-0">
                        Penjelasan dan ilustrasi mengenai masing-masing situasi dapat Anda lihat di halaman berikutnya.
                        Anda juga wajib mengisi survei demografi di bagian akhir dari eksperimen ini.
                    </p>
                </li>
                <li class="list-group-item border-0">
                    <h4>Durasi Eksperimen</h4>
                    <p class="m-0">
                        Kami memperkirakan eksperimen ini akan selesai dalam lebih-kurang 120 menit. Harap
                        menyelesaikan eksperimen ini secara mandiri berdasarkan preferensi Anda sendiri karena akan
                        menentukan pembayaran yang Anda peroleh.
                    </p>
                </li>
                <li class="list-group-item border-0">
                    <h4>Pembayaran</h4>
                    <p class="m-0">
                        Pembayaran untuk Anda utamanya berasal dari keputusan yang Anda lakukan di salah satu situasi
                        yang dipilih secara acak. Jumlah pembayaran bergantung pada nilai yang Anda peroleh di situasi
                        tersebut. Oleh karena itu, masing-masing peserta dapat menerima jumlah pembayaran yang berbeda.
                        Penjelasan mengenai ini ada di halaman selanjutnya. Pembayaran yang Anda peroleh ini kemudian
                        ditambahkan dengan uang kehadiran dan penyelesaian rangkaian eksperimen sebesar Rp10.000.
                    </p>
                </li>
                <li class="list-group-item border-0">
                    <h4>Kontak</h4>
                    <p>
                        Anda dapat menghubungi kami melalui nomor WA 081945309085 (Agathia) atau 081288106065
                        (Yudistira) selama eksperimen berlangsung jika ada hal-hal yang perlu Anda tanyakan mengenai
                        prosedur eksperimen ini. Anda juga bisa menghubungi Komisi Etik Penelitian Universitas Gadjah
                        Mada jika ada hal yang perlu Anda konfirmasi mengenai eksperimen ini di:
                    </p>
                    <ul>
                        <li>Email :  komisietik@ugm.ac.id.</li>
                        <li>
                            Alamat kantor : Gedung Pusat Universitas Gadjah Mada, Lantai 3 Sayap Selatan
                            (Kantor Direktorat Penelitian)
                        </li>
                        <li>Telepon : (0274) 520669</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <button class="otree-btn-next btn btn-outline-primary">
                <span>Lanjut</span>
                <i class="fa-solid fa-circle-arrow-right ms-1"></i>
            </button>
        </div>
    </div>
{% endblock %}