{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <title>Penjelasan Risky Investment Allocation</title>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title m-0">Penjelasan mengenai Risky Investment Allocation</h3>
        </div>
        <div class="card-body">
            <div class="card-text">
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start fs-4 border-0">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Konsep Dasar</div>
                            <p class="m-0 fs-6">
                                Risky Investment Allocation merupakan <strong>opsi investasi dengan mengalokasikan Uang
                                yang Anda miliki</strong>. Dalam Risky Investment Allocation, Anda akan diberikan
                                <strong>5 pilihan opsi</strong> dengan <strong>per opsi memiliki 3 keuntungan</strong>.
                                Dari opsi tersebut, Anda hanya akan mendapatkan keuntungan <strong>salah satu dari 3
                                keuntungan</strong> tersebut. Bentuk opsi investasi pilihan adalah berikut gambar
                                dibawah ini:
                            </p>
                            <img src="{{ static 'image/risky_allocation.png' }}" class="mb-3 w-75 mx-auto d-block"
                                 alt="image/png">
                            <p class="m-0 fs-6">
                                Dalam hal ini, Risky Investment Allocation memiliki ketentuan yaitu:
                            </p>
                            <ol class="list-group list-group-numbered fs-6">
                                <li class="list-group-item d-flex justify-content-between align-items-start border-0">
                                    <div class="ms-2 me-auto">
                                        Anda dapat mengalokasikan Uang (Poin) yang Anda miliki pada opsi-opsi yang
                                        tersedia secara bebas sesuai dengan kemampuan Uang (Poin) yang Anda miliki.
                                        <strong>Setiap opsi tidak memiliki biaya tetap</strong> sehingga Anda dapat
                                        secara bebas mengalokasikan Uang (Poin) Anda. Jika Uang Anda melebihi
                                        biaya opsi yang dipilih, maka Anda tidak dapat melakukan investasi tersebut dan
                                        Anda harus kembali memilih dan mengalokasikan opsi sesuai dengan kemampuan
                                        Uang yang Anda miliki.
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start border-0">
                                    <div class="ms-2 me-auto">
                                        Anda mendapatkan profit/keuntungan berdasarkan opsi yang Anda pilih, dengan
                                        contoh: dari gambar diatas jika Anda memilih mengalokasikan Uang (Poin)
                                        pada Opsi 1, maka Sistem akan membaca dan menentukan profit/keuntungan dari
                                        salah satu 3 keuntungan dari Opsi 1 secara acak. Jika Sistem telah menentukan
                                        pilihan keuntungan <strong>"Anda mendapatkan 1.5x dengan peluang 60%" dan Anda
                                        melakukan alokasi sebesar 20 poin</strong>, kalkulasi profit/keuntungan
                                        yang Anda dapatkan adalah <strong>Return yang didapatkan (1.5x) dikalikan
                                        dengan Alokasi yang Anda berikan (20 poin)</strong>, maka profit/keuntungan yang
                                        Anda dapatkan sebesar 30 poin.
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start border-0">
                                    <div class="ms-2 me-auto">
                                        Jika Anda memilih lebih dari 1 opsi, dengan contoh: dari gambar diatas jika
                                        Anda memilih Opsi 1, Opsi 3 dan Opsi 5, maka Sistem akan membaca dan menentukan
                                        salah satu dari 3 keuntungan masing-masing opsi yang telah Anda pilih. Jika
                                        pada Opsi 1 Sistem telah menentukan pilihan keuntungan <strong>"Anda
                                        mendapatkan 1.5x dengan peluang 60% dan Anda melakukan Alokasi sebesar 20 poin"
                                        </strong>, kalkulasi profit/keuntungan yang Anda dapatkan adalah <strong>Return
                                        yang didapatkan (1.5x) dikalikan dengan Alokasi yang Anda berikan (20 poin)
                                        </strong>, maka profit/keuntungan yang Anda dapatkan sebesar 30 poin pada
                                        Opsi 1, pada Opsi 3 jika Sistem telah menentukan pilihan keuntungan
                                        <strong>"Anda mendapatkan 1.25x dengan peluang 25% dan Anda melakukan Alokasi
                                        sebesar 12 poin"</strong>, kalkulasi profit/keuntungan yang Anda dapatkan
                                        adalah <strong>Return yang didapatkan (1.25x) dikalikan dengan Alokasi yang
                                        Anda berikan (12 poin)</strong>, maka profit/keuntungan yang Anda dapatkan
                                        sebesar 15 poin pada Opsi 3, pada Opsi 5 jika Sistem telah menentukan pilihan
                                        keuntungan <strong>"Anda mendapatkan 0x dengan peluang 45% dan Anda melakukan
                                        Alokasi sebesar 20 poin"</strong>, kalkulasi profit/keuntungan yang Anda
                                        dapatkan adalah <strong>Return yang didapatkan (0x) dikalikan dengan Alokasi
                                        yang Anda berikan (20 poin)</strong>, maka profit/keuntungan yang Anda dapatkan
                                        sebesar 0 poin pada Opsi 5.
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start border-0">
                                    <div class="ms-2 me-auto">
                                        Semua profit/keuntungan akan dijumlah dan dijadikan sebagai Total Keuntungan
                                        berdasarkan opsi yang Anda pilih. Jika Anda memilih lebih dari 1 opsi, maka
                                        semua profit/keuntungan akan dijumlahkan dari opsi yang telah Anda pilih.
                                        Dengan contoh: dari poin nomor 1.3 diatas <strong>Opsi 1 Anda mendapatkan 30
                                        poin, Opsi 3 Anda mendapatkan 15 poin & Opsi 5 Anda mendapatkan 0 poin, maka
                                        jumlah profit/keuntungan yang Anda dapatkan adalah 30+15+0 = 45 poin</strong>.
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start border-0">
                                    <i class="fa-solid fa-circle-exclamation text-danger"></i>
                                    <div class="ms-2 me-auto">
                                        <strong>Jika Anda tidak melakukan investasi pada ronde tertentu, maka
                                        <span class="text-danger">Anda tidak mendapatkan profit/keuntungan</span>
                                        </strong>.
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start fs-4 border-0">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Bantuan & Beban Konsumsi</div>
                            <p class="fs-6 m-0">
                                Setiap ronde Anda akan mendapatkan
                                <strong class="text-success">Bantuan sebesar 30 poin</strong> dan juga Anda akan
                                dikenakan <strong class="text-danger">Beban Konsumsi sebesar 50 poin</strong> setelah
                                Anda menyelesaikan ronde. Bantuan & Beban Konsumsi memiliki ketentuan sebagai berikut:
                            </p>
                            <ol class="list-group list-group-numbered fs-6">
                                <li class="list-group-item d-flex justify-content-between align-items-start
                                    border-0">
                                    <div class="ms-2 me-auto">
                                        Bantuan akan diberikan setiap ronde dan Beban Konsumsi akan dikenakan setelah
                                        Anda menyelesaikan setiap ronde.
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start
                                    border-0">
                                    <i class="fa-solid fa-circle-exclamation text-danger"></i>
                                    <div class="ms-2 me-auto">
                                        Setiap sesi eksperimen ini memiliki sistem yang kompleks. Jika <strong>
                                        Anda terdeteksi tidak melakukan investasi pada ronde tertentu</strong>,
                                        <strong>Beban Konsumsi akan tetap <span class="text-danger">BERLAKU
                                        </span></strong>. Harap lebih teliti pada saat melakukan investasi.
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start fs-4 border-0">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Informasi Pendapatan</div>
                            <p class="fs-6 m-0">
                                Pada bagian <strong>Informasi Pendapatan</strong>, Anda dapat melihat <strong>kondisi
                                keuangan</strong> Anda saat ini,
                                jumlah <strong class="text-success">Bantuan</strong> yang diterima, serta
                                <strong class="text-danger">Beban Konsumsi</strong> yang harus dibayarkan pada setiap
                                akhir ronde.
                            </p>
                            <ol class="list-group list-group-numbered fs-6">
                                <li class="list-group-item d-flex justify-content-between align-items-start
                                    border-0">
                                    <div class="ms-2 me-auto">
                                        Uang Anda menunjukkan jumlah uang yang Anda miliki saat ini. Jika jumlahnya
                                        bernilai <strong class="text-danger">negatif</strong>, berarti
                                        <strong class="text-danger">Anda sedang memiliki Hutang</strong>.
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start
                                    border-0">
                                    <div class="ms-2 me-auto">
                                        <strong class="text-success">Bantuan</strong> menunjukkan tambahan uang yang
                                        diberikan kepada Anda dan dapat digunakan untuk melakukan
                                        <strong class="text-success">investasi</strong>.
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start
                                    border-0">
                                    <div class="ms-2 me-auto">
                                        <strong class="text-danger">Beban Konsumsi</strong> merupakan jumlah uang yang
                                        akan dikenakan pada setiap akhir ronde.
                                    </div>
                                </li>
                            </ol>
                            <p class="fs-6">
                                Jika Uang Anda bernilai <strong class="text-danger">NEGATIF</strong>, Anda tetap dapat
                                melanjutkan kegiatan <strong class="text-success">investasi</strong> dengan menggunakan
                                uang <strong class="text-success">Bantuan</strong> yang tersedia. Namun, Anda perlu
                                memperhatikan bahwa uang tersebut <strong>sebaiknya digunakan untuk membantu membayar
                                <span class="text-danger">Hutang</span> dan
                                <span class="text-danger">Beban Konsumsi</span></strong>.
                            </p>
                            <img src="{{ static 'image/endowment_rules.png' }}" class="mb-3 w-100 d-block"
                                 alt="image/png">

                            <p class="fs-6">
                                Sebagai contoh, pada tampilan di atas, Uang Anda sebesar
                                <strong class="text-danger">-84,00</strong> menunjukkan bahwa
                                <strong class="text-danger">Anda memiliki hutang sebesar 84,00</strong>. Anda menerima
                                <strong class="text-success">Bantuan sebesar 30,00</strong>, sehingga bantuan tersebut
                                dapat digunakan untuk melakukan <strong class="text-success">investasi</strong>. Pada
                                saat yang sama, terdapat <strong class="text-danger">Beban Konsumsi sebesar
                                35,00</strong> yang akan dikenakan pada setiap akhir ronde.
                            </p>
                            <p class="fs-6">
                                Jika Anda menggunakan sebagian <strong class="text-success">Bantuan</strong> untuk
                                berinvestasi, maka <strong>sisa Bantuan yang tidak digunakan untuk investasi akan
                                <span class="text-danger">TETAP DIGUNAKAN</span> untuk membantu membayar
                                <span class="text-danger">Hutang</span> dan
                                <span class="text-danger">Beban Konsumsi</span> pada akhir ronde</strong>. Dengan
                                demikian, <strong>semakin besar jumlah <span class="text-success">Bantuan</span> yang
                                digunakan untuk investasi, semakin kecil pula jumlah
                                <span class="text-success">Bantuan</span> yang tersisa untuk membantu membayar
                                <span class="text-danger">Hutang</span> dan
                                <span class="text-danger">Beban Konsumsi</span></strong>.
                            </p>
                            <p class="text-danger text-center fw-bold">
                                Perhatikan kondisi keuangan Anda sebelum melakukan investasi. Pastikan Anda
                                mempertimbangkan kebutuhan untuk membayar Hutang dan Beban Konsumsi.
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start fs-4 border-0">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Hasil Ronde & Hasil Akhir Risky Investment Allocation</div>
                            <p class="m-0 fs-6">
                                Setiap ronde akan merekap hasil investasi yang Anda lakukan. <i>Hasil Ronde</i>
                                menyajikan informasi rekapan hasil investasi Anda meliputi profit/keuntungan, biaya
                                opsi, Bantuan & Beban Konsumsi serta Uang Akhir Ronde. <i>Hasil Akhir</i> menyajikan
                                informasi rekapan keseluruhan ronde yang telah Anda lakukan terlepas dari Anda
                                melakukan investasi maupun tidak melakukan investasi serta total
                                keseluruhan profit/keuntungan setiap ronde. <strong>Uang Akhir Ronde pada Risky
                                Investment Allocation akan digunakan pada ronde berikutnya</strong>.
                            </p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="card-footer">
            <button class="otree-btn-next btn btn-outline-primary">
                <span>Lanjut</span>
                <i class="fa-solid fa-circle-arrow-right ms-1"></i>
            </button>
        </div>
    </div>
{% endblock %}