{% block styles  %}
    <link href="{{ static 'fontawesome/css/all.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/solid.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/brands.css' }}" rel="stylesheet"/>
{% endblock %}

{{ block title }}
    <span hidden>Final Results - ASIAN Handicap</span>
{{ endblock }}

{{ block content }}
    <div class="card mb-3">
        <div class="card-header">
            <span class="badge bg-success fs-6 me-2">
                ASIAN Handicap
            </span>
            <span class="badge bg-danger fs-6">
                Endowment Anda: {{ final_endowment }} Ronde {{ last_round }}
            </span>
        </div>
        <div class="card-body">
            <h1 class="card-title">Final Results</h1>
            <div class="card-text">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ronde Investasi</th>
                            <th scope="col">Profit</th>
                            <th scope="col">Dana yang dialokasikan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for round in rounds_data %}
                            <tr>
                                <td>ASIAN Handicap - Ronde {{ round.round_number }}</td>
                                <td>
                                    {{ if round.return == 0 }}
                                        <strong>{{ round.return }}</strong>
                                    {{ else }}
                                        <strong class="text-success">+{{ round.return }}</strong>
                                    {{ endif }}
                                </td>
                                <td>
                                    {{ if round.cost == 0 }}
                                        <strong>{{ round.cost }}</strong>
                                    {{ else }}
                                        <strong class="text-danger">-{{ round.cost }}</strong>
                                    {{ endif }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <td>
                                {{ if final_return == 0}}
                                    <strong>{{ final_return }}</strong>
                                {{ else }}
                                    <strong class="text-success">+{{ final_return }}</strong>
                                {{ endif }}
                            </td>
                            <td>
                                {{ if final_cost == 0}}
                                <strong>0.0</strong>
                                {{ else }}
                                    <strong class="text-danger">{{ final_cost }}</strong>
                                {{ endif }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="alert alert-success" role="alert">
                    <strong>
                        Selamat! Anda telah selesai melakukan investasi pada ASIAN Handicap.
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <button class="otree-btn-next btn btn-outline-primary">
        <span>Lanjut</span>
        <i class="fa-solid fa-chevron-right"></i>
    </button>
{{ endblock }}