{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <title>Risky Investment Purchase</title>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title m-0">Informasi Pendapatan</h3>
        </div>
        <div class="card-body">
            <div class="card-text">
                <table class="table">
                    <thead>
                        <th scope="col">Uang Anda</th>
                        <th scope="col" class="text-success">Bantuan</th>
                        <th scope="col" class="text-danger">Beban Konsumsi</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <strong>{% player.uang_sebelum_tambah_bansos %}</strong>
                            </td>
                            <td>
                                <strong class="text-success">
                                    +{% player.bantuan_sosial %}
                                </strong>
                            </td>
                            <td>
                                <strong class="text-danger">
                                    -{% player.beban_konsumsi %}
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert bg-success text-white" role="alert">
                    <i class="fa-solid fa-check-to-slot me-1"></i>
                    <span>Bantuan akan diberikan setiap ronde</span>
                </div>
                <div class="alert bg-danger text-white mb-0" role="alert">
                    <i class="fa-solid fa-triangle-exclamation me-1"></i>
                    <span>Beban Konsumsi akan dikenakan setiap akhir ronde</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="otree-btn-next btn btn-outline-primary">
                <span>Lanjut</span>
                <i class="fa-solid fa-circle-arrow-right ms-1"></i>
            </button>
        </div>
    </div>
{% endblock %}