{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <title>Risky Investment Purchase - Ronde {% player.round_number %}</title>
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <h4 class="m-0">Informasi Pendapatan</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Uang + Bantuan</th>
                        <th scope="col">Total Uang Anda</th>
                        <th scope="col">Beban Konsumsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {% player.uang_sebelum_tambah_bansos %} + {% player.bantuan_sosial %}
                        </td>
                        <td>
                            {% player.uang_sesudah_tambah_bansos %}
                        </td>
                        <td>
                            {% player.beban_konsumsi %} (dikenakan setiap akhir ronde)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span class="badge bg-success fs-6 me-2">
                Ronde: {{ player.round_number }}
            </span>
            <span class="badge bg-danger fs-6 me-2">
                Uang Anda saat ini: {{ player.uang_sesudah_tambah_bansos }}
            </span>
            <span class="badge bg-primary fs-6">
                Anda adalah Player [id_player]
            </span>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="p-0">
                    <h2>Risky Investment Purchase</h2>
                    <hr>
                    <p class="m-0">
                        <div class="alert alert-success" role="alert">
                            Silahkan pilih opsi yang Anda inginkan, dan dapatkan keuntungannya.
                            <br>
                            <strong>Tidak tertarik berinvestasi pada ronde ini?</strong>
                            Silahkan klik tombol <strong>"Submit"</strong> tanpa memilih salah satu opsi yang tersedia
                            untuk melanjutkan.
                        </div>
                    </p>
                </div>
                <div class="mt-4">
                    <form method="post">
                        <div class="row row-cols-1 row-cols-md-3 g-2">
                            {{ for option in random_options }}
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-header">
                                            <div class="form-check fs-4">
                                                <input class="form-check-input" type="checkbox"
                                                   name="opsi_{{ forloop.counter }}" value="{{ option.name }}">
                                                <label class="form-check-label" for="{{ option.name }}">
                                                    Opsi {{ forloop.counter }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                {% for outcome in option.formatted_outcomes %}
                                                    <li class="list-group-item">{{ outcome }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <span class="badge bg-danger fs-6">
                                                Harga Opsi : {{ Constants.cost_per_option }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {{ endfor }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-outline-success">
                <i class="fa-solid fa-money-bill-trend-up"></i>
                <span>Submit</span>
            </button>
        </div>
    </div>
{% endblock %}