{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <title>Risky Investment Allocation - Ronde {% player.round_number %}</title>
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <h4 class="m-0">Informasi Pendapatan</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Uang + Bantuan</th>
                        <th scope="col">Total Uang Anda</th>
                        <th scope="col">Beban Konsumsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {% player.uang_sebelum_tambah_bansos %} + {% player.bantuan_sosial %}
                        </td>
                        <td>
                            {% player.uang_sesudah_tambah_bansos %}
                        </td>
                        <td>
                            {% player.beban_konsumsi %} (dikenakan setiap akhir ronde)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span class="badge bg-success fs-6 me-2">
                Ronde: {{ player.round_number }}
            </span>
            <span class="badge bg-danger fs-6 me-2">
                Uang Anda saat ini: {{ player.uang_sesudah_tambah_bansos }}
            </span>
            <span class="badge bg-primary fs-6">
                Anda adalah Player [id_player]
            </span>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="p-0">
                    <h2>Risky Investment Allocation</h2>
                    <hr>
                    <p class="m-0">
                        <div class="alert alert-success" role="alert">
                            Silahkan alokasikan Poin yang Anda inginkan pada opsi-opsi yang tersedia,
                            dan dapatkan keuntungannya.
                            <br>
                            <strong>
                                Jika Anda hanya mengisi pada opsi tertentu, maka opsi lain di isi dengan angka 0.
                            </strong>
                            <br>
                            <strong>Tidak tertarik berinvestasi pada ronde ini?</strong>
                            Silahkan klik tombol <strong>"Lewati Ronde"</strong>
                            untuk melanjutkan.
                        </div>
                    </p>
                </div>
                <div class="mt-4">
                    <form method="post">
                        <div class="row row-cols-1 row-cols-md-2 g-2">
                            {% for option in random_options %}
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-header">
                                            <h3>
                                                Opsi {{ forloop.counter }}
                                            </h3>
                                            <input class="form-check-input" type="checkbox"
                                               name="opsi_{{ forloop.counter }}"
                                               value="{{ option.name }}" checked hidden>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                {% for outcome in option.formatted_outcomes %}
                                                    <li class="list-group-item">{{ outcome }}</li>
                                                {% endfor %}
                                            </ul>
                                            <div class="mt-3">
                                                <label for="alokasi_opsi_{{ forloop.counter}}" class="form-label">
                                                    Berapa Alokasi yang ingin dipertaruhkan pada opsi ini?
                                                </label>
                                                <input type="number" class="form-control"
                                                   name="alokasi_opsi_{{ forloop.counter }}" value="0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-outline-success">
                <i class="fa-solid fa-money-bill-trend-up"></i>
                <span>Submit</span>
            </button>
        </div>
    </div>
{{ endblock }}