{% extends "global/Page.html" %}

{% block content %}
<form method="post">
    <div id="section1">
    <h2 style="text-align:center">Selamat Datang Di Eksperimen Tentang Preferensi terhadap Produk Berkelanjutan</h2>
    <h3 style="text-align:center">Eksperimen ini ditujukan untuk mendapatkan informasi mengenai preferensi individu terhadap penggunaan produk berkelanjutan</h3>
    <h4 style="text-align:center">Terdapat dua sesi di dalam eksperimen ini: <br> <b>1) Elisitasi Preferensi untuk Pilihan Produk <br> 2) Survei Keyakinan terhadap Penggunaan Produk</b></h4>
    <p><br>
    <center>
        <table>
            <tr>

                    <td><img src="{{static 'rgbi_image/ugm.png' }}" width="250px" style="margin:5px; padding:15px"></td>

            </tr>
        </table>
    </center>

    <br><p>
        <button type="button" onclick="nextSection(2)">Lanjutkan</button>
    </div>

    <div id="section2" style="display:none;">
        <h1>INSTRUKSI UMUM</h1>
        <p>Selamat datang dan terima kasih telah bersedia untuk mengikuti eksperimen ini. Mohon baca dengan seksama instruksi ini agar Anda dapat memahami apa yang harus Anda lakukan di dalam eksperimen ini. Eksperimen ini memberikan Anda kesempatan untuk memperoleh uang tunai yang akan dibayarkan segera setelah Anda menyelesaikan rangkaian eksperimen ini. Besaran uang yang akan Anda peroleh bergantung pada apa yang Anda dan rekan Anda lakukan di dalam eksperimen ini. Oleh karenanya, mohon untuk serius dalam menyelesaikannya sesuai dengan preferensi Anda. Uang yang Anda peroleh dalam eksperimen ini akan ditambahkan dengan uang kehadiran sebesar Rp10.000.</p>

        <p>Anda juga akan diminta untuk mengisi kuesioner pendek setelah menyelesaikan tahapan eksperimen. Eksperimen ini telah mendapatkan persetujuan dari Komisi Etik Direktorat Penelitian UGM. Lembar persetujuan terinformasi tersedia pada saat Anda mendaftar eksperimen ini via email dan telah Anda setujui untuk mengikuti eksperimen ini.</p>

        <h2>1. Eksperimen</h2>
        <p>Eksperimen ini ditujukan untuk mendapatkan informasi mengenai perilaku dalam penggunaan produk yang dikategorikan sebagai produk ramah keberlanjutan. Produk tersebut memiliki ciri khas: 1) tidak menimbulkan polusi bagi udara, air, dan tanah, 2) tahan lama dan mudah terurai ketika sudah tidak digunakan, 3) diproduksi menggunakan bahan yang terbarukan (contoh: bukan dari fosil), 4) menggunakan konsumsi energi yang rendah, 5) aman dan meminimalisir risiko sosial, ekonomi, dan lingkungan, serta 6) sesuai dengan peraturan yang berlaku. Anda akan menghadapi dua sesi di dalam eksperimen ini: 1) preferensi atas pilihan produk, 2) survei atas keyakinan terhadap produk. Anda akan menghadapi 16 ronde di sesi pertama dan 15 pertanyaan di sesi kedua.</p>

        <h2>2. Durasi Eksperimen</h2>
        <p>Kami mengestimasi penyelesaian rangkaian eksperimen ini selama lebih-kurang 120 menit pada hari eksperimen Anda mendaftar. Kami harap Anda menyelesaikan eksperimen ini secara mandiri berdasarkan preferensi Anda sendiri karena akan menentukan pembayaran yang Anda peroleh! Anda dapat menghubungi kami melalui nomor WA 081288106065 (Yudistira) setiap saat selama eksperimen jika ada hal-hal yang perlu Anda tanyakan mengenai prosedur eksperimen ini.</p>

        <h2>3. Pembayaran</h2>
        <p>Pembayaran untuk Anda utamanya berasal dari keputusan yang Anda lakukan di sesi pertama. Oleh karena itu, masing-masing peserta dapat memiliki pembayaran yang berbeda. Penjelasan mengenai ini ada di halaman selanjutnya. Pembayaran yang Anda peroleh ini kemudian ditambahkan dengan uang kehadiran dan penyelesaian rangkaian eksperimen sebesar Rp10.000.</p>

        <p><b>Tim Peneliti</b></p>
        <p>Yudistira Permana (SV UGM)</p>
        <p>Muhammad Ryan Sanjaya (FEB UGM)</p>
        <p>Mahfud Solihin (FEB UGM)</p>
        <p>Agung Satriyo Nugroho (F Geografi UGM)</p>

        <button type="button" onclick="nextSection(3)">Lanjutkan</button>
    </div>

    <div id="section3" style="display:none;">
        <h1>Sesi Preferensi atas Pilihan Produk</h1>
        <p>Anda diminta untuk memilih produk sesuai dengan preferensi Anda di sesi ini. Berikut adalah penjelasan detail untuk sesi pilihan produk:</p>

        <h2>Jenis Produk</h2>
        <p>Anda memiliki empat klasifikasi produk, yaitu: 1) peralatan rumah tangga, 2) kendaraan, 3) sumber listrik rumah, dan 4) bahan bakar minyak. Di setiap klasifikasi, Anda memiliki tiga produk (Produk A, Produk B, dan Produk C) yang akan diperbandingkan dalam bentuk pairwise choice (dua pilihan). Produk A dan B merupakan produk ramah keberlanjutan yang saat ini sangat mungkin belum dipakai secara masif, seperti mobil dan kompor listrik. Produk C merupakan produk konvensional yang tidak lebih ramah keberlanjutan dan telah digunakan secara masif dalam jangka waktu cukup lama, seperti mobil bensin dan kompor gas. Produk C memiliki dua variasi (C1 dan C2) berdasarkan harganya.</p>

        <h2>Pairwise Choice</h2>
        <p>Anda memiliki tiga pertanyaan pairwise choice di setiap ronde dengan prosedur urutan sebagai berikut:</p>
        <ul>
            <li><b>1.</b> Produk A vs Produk B</li>
            <li><b>2.</b> Produk A/B (berdasarkan pilihan di poin 1) vs Produk C1</li>
            <li><b>3.</b> Produk A/B (berdasarkan pilihan di poin 1) vs Produk C2</li>
        </ul>
        <p>Secara total, Anda menghadapi 48 pertanyaan di sesi pilihan produk.</p>

        <h2>Konteks Situasi</h2>
        <p>16 ronde di dalam sesi ini terbagi ke dalam empat situasi yang memiliki konteks berbeda, yaitu: <b>1)</b> Mengenai jumlah, dan kualitas infrastruktur, <b>2)</b> Mengenai ketersediaan produk di pasar, <b>3)</b> Mengenai jumlah pengguna produk tersebut, serta <b>4)</b> Mengenai proses asal produksi produk tersebut.</p>

        <h2>Apa yang Anda Dapatkan dari Keputusan Anda di Setiap Ronde?</h2>
        <p>Keputusan yang Anda lakukan di masing-masing ronde akan menjadi payoff Anda untuk penghitungan pembayaran dari sesi ini. Payoff Anda adalah harga produk akhir yang Anda pilih pada poin ketiga di penjelasan mengenai “Pairwise Choice”: Produk A/B vs Produk C2.</p>

        <h2>Pembayaran dari Sesi Ini</h2>
        <p>Salah satu dari 16 ronde akan dipilih secara acak untuk menjadi basis pembayaran Anda, sesuai dengan Keputusan yang Anda telah berikan. Produk yang menjadi preferensi Anda di ronde terpilih adalah yang akan menjadi pembayaran Anda dengan ketentuan sebagai berikut:</p>
        <ul>
            <li><b>1.</b> Jika Anda memilih Produk A atau Produk B di ketiga pertanyaan di ronde terpilih, maka Anda akan langsung mendapatkan Produk A atau B sebagai basis pembayaran sesuai konsistensi pilihan Anda tersebut.</li>
            <li><b>2.</b> Jika Anda memilih Produk C1 di pertanyaan kedua dan Produk C2 di pertanyaan ketiga, maka Anda akan mendapatkan Produk C1 atau Produk C2 dengan peluang 50:50 sebagai basis pembayaran.</li>
            <li><b>3.</b> Jika Anda memilih Produk A/B di salah satu dari pertanyaan kedua (versus Produk C1) atau pertanyaan ketiga (versus Produk C2), maka Anda akan mendapatkan Produk A/B atau C1/C2 dengan peluang 50:50 sebagai basis pembayaran.</li>
        </ul>
        <p>Produk yang Anda terima sebagai pembayaran dari sesi ini akan dikonversi dengan nilai tukar tertentu sesuai dengan produk yang terpilih. Berikut adalah nilai konversi untuk masing-masing jenis produk:</p>
        <ul>
            <li>1:500 untuk produk perangkat rumah tangga kompor</li>
            <li>1:10000 untuk produk kendaraan mobil</li>
            <li>1:500 untuk produk sumber listrik</li>
            <li>1:10 untuk produk bahan bakar minyak</li>
        </ul>

        <h2>Proses Pembayaran</h2>
        <p>Anda akan memperoleh pembayaran pada hari berlangsungnya sesi eksperimen Anda melalui pembayaran digital. Untuk itu, Anda akan diminta untuk memberikan informasi akun pembayaran digital Anda pada formulir yang disediakan.</p>

        <h2>Catatan Penting</h2>
        <p>Eksperimenter dipastikan tidak mengetahui keputusan Anda maupun payoff Anda sebelum selesainya sebuah ronde mengacu sistem pencatatan yang diimplementasikan di dalam sistem komputer.</p>

        <button type="button" onclick="previousSection(2)">Kembali</button>
        <button type="button" onclick="nextSection(4)">Lanjutkan</button>
    </div>

    <div id="section4" style="display:none;">
        <h1>Instruksi Video</h1>
        <p>Silakan tonton video berikut untuk memahami cara pengisian di sesi Eksperimen Pilihan Produk Berkelanjutan.</p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/ty437Fy9ox8?si=SSS-siTgvkxrzArI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <br>
        <button type="button" onclick="previousSection(3)">Kembali</button>
        <button type="button" onclick="nextSection(5)">Lanjutkan</button>
    </div>

    <div id="section5" style="display:none;">
        <h1>Practice Session</h1>
        <p>Anda akan memasuki laman practice session yang terdiri dari 1 ronde dengan 3 pertanyaan, termasuk hasil dari pilihan subyek. Practice session ini ditujukan untuk membuat Anda familiar dengan bentuk eksperimen pada sesi pertama mengenai elisitasi preferensi untuk pilihan produk.</p>

        <button type="button" onclick="previousSection(4)">Kembali</button>
        <button type="submit" class="btn btn-primary">Lanjutkan</button>
    </div>
    </div>


</form>

<script>
    function nextSection(sectionNumber) {
        document.getElementById('section' + (sectionNumber - 1)).style.display = 'none';
        document.getElementById('section' + sectionNumber).style.display = 'block';
    }

    function previousSection(sectionNumber) {
        document.getElementById('section' + (sectionNumber + 1)).style.display = 'none';
        document.getElementById('section' + sectionNumber).style.display = 'block';
    }
</script>
{% endblock %}
