{% block styles  %}
    <link href="{{ static 'fontawesome/css/all.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/solid.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/brands.css' }}" rel="stylesheet"/>
{% endblock %}

{{ block title }}
    <span hidden>Final Results - Cognitive Task</span>
{{ endblock }}

{{ block content }}
    <div class="card mb-3">
        <div class="card-header">
            <span class="badge bg-success fs-6 me-2">
                Cognitive Task
            </span>
            <span class="badge bg-danger fs-6">
                Endowment Anda: {{ player.endowment }}
            </span>
        </div>
        <div class="card-body">
            <h1 class="card-title">Final Results</h1>
            <div class="card-text">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ronde Permainan</th>
                            <th scope="col">Total Skor</th>
                            <th scope="col">Biaya Beli Waktu</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in all_rounds_results %}
                            <tr>
                                <td>Cognitive Task - Ronde {{ result.round_number }}</td>
                                <td>
                                    <strong class="text-success">+{{ result.score }}</strong>
                                </td>
                                <td>
                                    <strong class="text-danger">-{{ result.time_cost }}</strong>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th>{{ total_score }}</th>
                            <th>{{ total_cost }}</th>
                        </tr>
                    </tfoot>
                </table>
                <div class="alert alert-success" role="alert">
                    <strong>
                        Selamat! Anda telah selesai melakukan permainan Cognitive Task.
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <button class="otree-btn-next btn btn-outline-primary">
        <span>Lanjut</span>
        <i class="fa-solid fa-chevron-right"></i>
    </button>
{{ endblock }}